<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>929478166599-4oufhfac31qj514hk3uc7tvr642g67ie.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.929478166599-4oufhfac31qj514hk3uc7tvr642g67ie</string>
	<key>API_KEY</key>
	<string>AIzaSyAZSEzAp4r0wP5BIXpprhq4F0qdBo9NCsU</string>
	<key>GCM_SENDER_ID</key>
	<string>929478166599</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.boltromyuk.cryptoWallet.CryptoWallet</string>
	<key>PROJECT_ID</key>
	<string>cryptowallet-bfbf0</string>
	<key>STORAGE_BUCKET</key>
	<string>cryptowallet-bfbf0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:929478166599:ios:208e85a960af28ad224962</string>
</dict>
</plist>